<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Animals</title>
	</head>
	<body>
		{{{ body }}}
		<p><a href="/all-pets">Pets</a> <a href="/all-non-pets">Non-Pets</a> <a href="/dog">Dog</a></p>
	</body>
</html>
